backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
backend/.idea/
*.iws
*.iml
*.ipr


# Angular specific
frontend/dist/
frontend/out-tsc/
frontend/tmp/
frontend/coverage/
frontend/e2e/test-output/
frontend/.angular/
frontend/node_modules/

# Environment files
/frontend/.env

# Angular CLI and build artefacts
/frontend/.angular-cli.json
/frontend/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


#vscode settings
.vscode/
frontend/.vscode/