<div class="credentials-container">
    <form if="credForm" class="credentials-form" [formGroup]="credForm" (ngSubmit)="onFormSubmit()">
        <div class="form-header text-center">
            <h2>{{isLogin() ? "Вход" : "Регистрация"}}</h2>
        </div>

        <div class="input-error-text-container">
            <div class="form-username credentials-input-container" [class.error-input]="isLoginError()" (click)="loginInputClicked()" [class.no-error-input]="!isLoginError()">
                <label for="username">
                    Логин
                    <input type="text" formControlName="username">
                </label> 
            </div>
            @if (isLoginError()) {
                <p class="error-text">{{loginError()}}</p>
            }
        </div>
        
        <div class="input-error-text-container">
            <div class="form-password credentials-input-container" [class.error-input]="isPasswordError()" (click)="passwordInputClicked()" [class.no-error-input]="!isPasswordError()">
                <label for="password">
                    Пароль
                    <input type="password" formControlName="password">
                </label>
            </div>
            @if (isPasswordError()) {
                <p class="error-text">{{passwordError()}}</p>
            }
        </div>

        @if(!isLogin()) {
            <div class="input-error-text-container">
                <div class="form-password credentials-input-container" [class.error-input]="isPasswordError()" (click)="passwordInputClicked()" [class.no-error-input]="!isPasswordError()">
                    <label for="password">
                        Повторите пароль
                        <input type="password" formControlName="repeatPassword">
                    </label>
                </div>
            </div>
        }

        <div>
            <p class="form-text text-center" (click)="linkClicked()">
                {{isLogin() ? "Нет аккаунта?": "Уже есть аккаунт?"}}
                <a class="form-link">
                    {{isLogin() ? "Зарегистрироваться" : "Войти"}}
                </a>
            </p>
        </div>

        <div class="form-sumbit text-center">
            <input type="submit" name="submit" value="{{isLogin() ? 'Войти' : 'Зарегистрироваться'}}">
        </div>
        
    </form>
</div>