$margin-left: 10px;
$error-border: 2px solid rgb(240, 20, 20);
$error-background-color: rgb(255, 255, 255);

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-section {
  flex: 0 0 7%;
}

.content-section {
  flex: 1;
}

.error-input {
    border: $error-border;
    background-color: $error-background-color;
    border-radius: 2px;
    input {
        background-color: $error-background-color;
    }
}

.no-error-input {
    border: 2px solid rgb(229, 229, 229);
}

.credentials-form {
    display: block;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: fit-content;
}

.credentials-container {
    display: grid;
    place-items: center;
    height: 100%;
}

.form-username, .form-password {
    border-radius: 5px;
    width: 80%;
}

.input-error-text-container {
    display: block;
    margin-left: $margin-left;
    margin-right: $margin-left;
    margin-bottom: 5px;
    width: inherit;
}

.credentials-input-container {
    width: inherit;
}

label {
    width: 100%;
    display: block;
}

input[type="text"], input[type="password"] {
    display: block;
    border: none;
    outline: none;
    color: rgb(161, 160, 160);
    width: 100%;
}

.from-text {
    color: lightgray;
}

.form-link {
    color: rgb(4, 239, 251);
}

.form-link:hover {
    color: rgb(0, 115, 255);
    cursor: pointer;
}

:host {
  height: 100%;
  width: 100%;
}

@keyframes hover {
  from {background-color: black; color: white;}
  to {background-color: white; color:black}
}

@keyframes unhover {
  from {background-color: white; color:black}
  to {background-color: black; color: white;}
}

input[type="submit"] {
    border: none;
    border-radius: 0;
    height: 30px;
    width: 150px;
    animation: unhover 0.5s forwards;
    background-color: black;
    color: white;
}

input[type="submit"]:hover {
    animation: hover 0.5s forwards;
    cursor: pointer;
}

.error-text {
    color: rgb(215, 15, 15);
    margin-left: $margin-left;
    margin-top: 3px;
}

.text-center {
    text-align: center;
}

@media (min-width: 1177px) {
    .credentials-form {
        min-width: 500px;
        min-height: 250px;
        padding: 30px;
    }
    
    .form-username, .form-password {
        padding: 5px;
    }
    
    label {
        font-size: 15px;
    }
    
    input[type="text"], input[type="password"] {
        font-size: 18px;
        margin-top: 1px;
    }
}


@media (min-width: 807px) and (max-width: 1176px) {
    .credentials-form {
        min-width: 500px;
        padding: 30px;
    }
    
    .form-username, .form-password {
        width: 95%;
        height: 80%;
        padding: 12px 16px 2px 16px;
    }
    
    label {
        font-size: 18px;
        margin-bottom: 8px;
    }
    
    input[type="text"], input[type="password"] {
        font-size: 18px;
    }
}

@media (max-width: 806px) {
    .credentials-form {
        width: 75vw;
        padding: 30px;
    }
    
    .form-username, .form-password {
        width: 85%;
        height: 80%;
        padding: 12px 16px 2px 16px;
    }
    
    label {
        font-size: 18px;
        margin-bottom: 8px;
    }
    
    input[type="text"], input[type="password"] {
        font-size: 18px;
        margin-top: 2px;
    }

}