<div class="main-div">
    <div class="input">
        <div class="input-div">
            <div class="input-head">
                <p>Выберите: Y, X, R</p>
            </div>
            <div id="y-input" class="bottom-filed-border field-container">
                <div class="field-div">
                    <p>Y:</p>
                    <input [class.error-field]="isYError()" (click)="yFieldClick()" class="input-field" type="text" placeholder="Введите Y (от -5 до 5)">
                </div>
                @if (isYError()) {
                    <p class="error-text">{{yErrorText()}}</p>
                }
            </div>
            <div id="x-input" class="field-container bottom-filed-border ">
                <div class="field-div">
                    <p>X:</p>
                    <select [class.error-field]="isXError()" (click)="xFieldClick()" id="x-select" class="input-select">
                        <option>-3</option>
                        <option>-2</option>
                        <option>-1</option>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                @if (isXError()) {
                    <p class="error-text">{{xErrorText()}}</p>
                }
            </div>
            <div id="r-input" class="field-container">
                <div class="field-div">
                    <p>R:</p>
                    <select [class.error-field]="isRError()" [(ngModel)]="rawRValue" (change)="rSelected()" id="r-select" class="input-select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                @if (isRError()) {
                    <p class="error-text">{{rErrorText()}}</p>
                }
            </div>
        </div>

        <button class="sumbit">Отправить</button>
    </div>

    <div class="chart-div" width="300" height="300">
        <canvas #chart id="chart"></canvas>
    </div>

    <div class="table-div">
        <table>
            <thead>
                <tr>
                        <th>Y</th>
                        <th>X</th>
                        <th>R</th>
                        <th>Попадание</th>
                        <th>Дата</th>
                        <th>Время, мс</th>
                </tr>
           </thead>
           <tbody>
                @if(data.length == 0) {
                    <tr><td colspan="6">Нет данных</td></tr>
                }
                @else {

                }
           </tbody>
        </table>
    </div>
</div>