$input-border: 1px solid black;
$table-corner-radius: 10px;

:host {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.header-section {
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  z-index: 100;
  background-color: white; 
}

.content-section {
  flex: 1;
  padding: 7vh 0px 0px 0px; 
}

.input {
  display: block;
  text-align: center;

  button {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    border: 0px;
    animation: unhover 0.5s forwards;
  }


  button:hover {
    animation: hover 0.5s forwards;
    cursor: pointer;
  }
}

.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#chart {
  border: 1px solid black;
}

.input-head {
  border-bottom: $input-border;
  text-align: center;
  padding: 3px;
  font-size: medium;
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(90deg,rgba(63, 94, 251, 1) 0%, rgba(200, 72, 226, 1) 60%);
  color: white;
}

.input-div {
  border: $input-border;
  border-radius: 5px;
  width: 300px;
  height: fit-content;
}

.bottom-filed-border {
  border-bottom: $input-border;
}

.field-div {
  padding: 3px;
  display: flex;
  
  p {
    margin-right: 5px;
  }
}

.field-container {
  p.error-text {
    text-align: left;
    margin-left: 5px;
    font-size: smaller;
  }
}

input {
  width: 90%;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 10px;
  text-align: right;
}

.input-select {
  width: 90%;
  text-align: right;
  background: white;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 10px;
}

@keyframes hover {
  from {background-color: black; color: white;}
  to {background-color: white; color:black}
}

@keyframes unhover {
  from {background-color: white; color:black}
  to {background-color: black; color: white;}
}

.chart-div {
  display: flex;
  flex-direction: column;
  text-align: center; 
  align-items: center;
}



#chart {
  border-radius: 3px;
  border: 2px solid black;
  object-fit: contain;
  width: 300px;
  height: 300px;
}

table {
  border-collapse: collapse;
  border-radius: $table-corner-radius;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
  text-align: center;
  max-height: 200px;
  overflow-y: auto;
  font-size: small;
}

td, th, tr {
  border: 1px solid #3c3c3c;
}
table td {
  font-weight: normal;
}

thead th {
  background: rgba(63, 94, 251, 1);
  color: white;
}

thead th:first-child {
  border-top-left-radius: $table-corner-radius - 1px;
}

thead th:last-child {
  border-top-right-radius: $table-corner-radius - 1px;
}


.error-field {
  border: 2px solid rgb(215, 15, 15);
}

.error-text {
  color: rgb(215, 15, 15);
}

.pagination {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px; 
  margin-top: 10px;
  padding: 10px;
}

.page-btn {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-btn:hover:not(:disabled) {
  background-color: #e9ecef;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-info {
  font-weight: bold;
  color: #333;
}

@media (min-width: 1177px) {
  .main-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "input chart-div"
    "table-div table-div";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 4fr 3fr;
  }

  .input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: auto;
    min-width: 400px;
    min-height: 400px;
    height: 100%;
  }


  .input-head {
    flex-shrink: 0;
  }

  .field-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1; 
  }

  #chart {
    width: 500px;
    height: 500px;
  }

  .table-div {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;
    height: 100%;
    justify-items: center;
    align-items: center; /* центрирует дочерние элементы */
    overflow-x:auto;
    overflow-y:auto;
  }



  #result-table {
    margin: auto;
    min-width: 60%;
    max-height: 100%;
    font-size: smaller;
  }

}

@media (min-width: 807px) and (max-width: 1176px) {
  .app-container {
    overflow-y: none;
  }


  .main-div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "input chart-div"
    "table-div table-div";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 2fr;
  }

  .input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: auto;
    min-width: 300px;
    min-height: 350px;
    height: 100%;
  }


  .input-head {
    flex-shrink: 0;
  }

  .field-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1; 
  }

  #chart {
    width: 350px;
    height: 350px;
  }

  .table-div {
    display: flex;
    grid-column: 1 / span 2;
    height: 100%;
    align-items: center;
  }

  #result-table {
    margin: auto;
    min-width: 75%;
    font-size: large;
  }

}